#communities.sidebox.bordered
  %h5 Communities
  %h6="#{user.communities.size} #{user.communities.size == 1 ? 'community' : 'communities'}"
  - user.communities.each do |community|
    =link_to community.name, community_path(community)
  %br
