#following-people.sidebox
  %h5="Following #{user.following_people.size} #{user.following_people.size == 1 ? 'person' : 'people'}"
  = render :partial => '/users/sideboxes/user.haml', :collection => user.following_people #user.following_people_but_not_connected
