- if user.achievement
  #profile-completeness.sidebox.bordered
    / # %h5="Profile completeness level #{user.achievement.id} - #{user.achievement.completeness_for(user).to_i}% complete"
    - heading = user.achievement.prize.split
    %h5=heading.shift
    %h6=heading.join(" ")
    .bar-graph
      .bar{:style => "width: #{user.achievement.completeness_for(user).to_i}%"}
    %ul
      - user.achievement.steps.each do |step|
        %li{:class => "#{'completed' if @user.steps.include?(step)}"}
          %span=step.title
