#stats.sidebox
  %h5 Stats
  %p.viewers="Profile has been viewed #{user.profile_views} #{user.profile_views == 1 ? 'time' : 'times'} by #{user.unique_profile_views} #{user.unique_profile_views == 1 ? 'person' : 'people'}"