.person-detail
  .photo
    - if user.is_a?(FbUser) and !user.has_photo?
      %fb:profile-pic{ :uid => 'loggedinuser', "facebook-logo" => 'true', :linked => "false", :height => "45px"}
    - else
      =image_tag user.get_photo_url, :height => "45"
  .name
    =link_to user.full_name, person_path(user)
  .position
    - contract = user.contracts.current.first
    - if contract
      %span.title="#{contract.position.title}"
      at 
      %span.organization="#{link_to contract.position.organization.name, organization_path(contract.position.organization)}"
      - if contract.city.present?
        in
        %span.town="#{contract.city.name}, #{contract.city.country.name}"