#content-header-container
  #content-header
    #content-header-main

#content-main-container
  #content-main-wrapper.background
    #content-main
      .main-section-stretched
        %table.public_openings
          %tbody
            = render :partial => "opening", :collection => @openings
                
  #sidebar-container
    #sidebar
      .post-new-job
        %a{:href => "/manage/openings/new"} Post a Job
      %p.about TalentJunkie Jobs is a commmunity-driven space for professionals and the organizations seeking to hire them.
