%h2="Hello, #{@user.full_name}."
%p="Your password has been reset. Your new password is '#{@password}'. Once you login, you can change your password in 'Edit your profile'"
= render :partial => "/notifier/footer.haml"
