%h2="Hello there."
%p="#{link_to @invitor.full_name, person_url(@invitor)} is inviting you to join TalentJunkie. #{link_to 'Click here', 'http://talentjunkie.net/'} to sign up. It's free and anyone can join!"
= render :partial => "/notifier/footer.haml"
