%h2="Hello there."
%p="#{link_to @user.full_name, person_url(@user)} has sent you a link to his profile on TalentJunkie. #{link_to 'Click here', person_url(@user)} to view #{@user.first_name}'s profile."
= render :partial => "/notifier/footer.haml"
