.guide
  :padding 50px 50px
  h1  
    :font-weight bold
    :font-size 3.0em
  ul
    :margin 0
    :padding 0
    
    :margin-top 40px
    :margin-left 50px
  li
    :list-style none
    :white-space nowrap
    :margin-bottom 20px
    :font-size 1.3em
    .step_number
      :vertical-align top
      :border-right 1px solid #999
      :padding-right 10px
      :margin-right 10px
      :font-weight bold
    .step
      :display inline-block
    .title  
      :margin-bottom 5px
      :font-weight bold
    .description
      :font-size 0.7em
  .go
    :border 1px solid #EFEFEF
    :background-color #600
    :color #FFF
    :font-weight bold
    :padding 5px 20px 3px
    :float right
    :cursor pointer
    :text-transform uppercase
    :text-decoration none
  .close
    :margin 0
    :position absolute
    :right 0
    :top 0
    :padding 5px 10px
    :color #999
    :background-color #EFEFEF
    :font-size 0.9em
    :cursor pointer