h1, h2, h3, h4, h5, h6
  :margin 0
  :padding 0
  :color #222
  :clear both
  :font-weight normal

h1
  :font-weight bold
  :font-size 1.3em
//  :text-transform uppercase
  :margin 10px 0px 20px
  :padding 0px 0px 15px 0px
  :border-bottom 1px solid #DDD
  
h2

h3, h4
  :margin 10px 0px 0px 0px

h3
  :margin 0
  :padding 20px 0px 10px 0px
  :text-transform uppercase
  :font-size 1.0em
  :font-weight bold

h4
  //:text-transform uppercase
  //:clear both
  //:background-color #FF3716
  //:color #FFF
  //:padding 3px 5px
  //:border-bottom 1px dotted #CCC
  //:margin-bottom 10px
  //:padding 4px 10px 3px
  //:padding 15px 10px 15px 0px
  :margin-bottom 20px
  //:border-bottom 1px solid #E0E0E0
  //:color #000
  :font-size 1.1em
  //:font-family Georgia
  :font-family Helvetica, Arial, sans-serif
  :background-color #A00
  //:background-color #AAA
  :display inline-block
  :margin-left -40px
  :padding 5px 5px 2px 18px
  :color #FFF
  :text-transform uppercase
  :-moz-border-radius 0.2em
  :-webkit-border-radius 0.2em
  :width 250px


.opening
  h1
    :margin 10px 0px
    :font-weight bold
    :font-size 1.4em
  h4
    :background-color #CCC
