#applications
  table
    :border-collapse collapse
    :width 100%
    :border-top 1px solid #CCC
    :border-left 1px solid #CCC
    :font-size 0.9em
    td, th
      :border-right 1px solid #CCC
      :border-bottom 1px solid #CCC
      :padding 5px
    th
      :background-color #DDD
    td
      :background-color #FFF
    .full_name
      :white-space nowrap
    .applied_on
      :text-align right
      :white-space nowrap
    .contract
      .title
        :font-weight bold
      .separator
        :color #666
    .summary
      :color #666
      
#search-applications
  input[type=text]
    :width 500px