#applications
  table
    :border-collapse collapse
    :width 100%
    :border-top 1px solid #CCC
    :border-left 1px solid #CCC
    :font-size 0.9em
    td, th
      :border-right 1px solid #CCC
      :border-bottom 1px solid #CCC
      :padding 5px
    th
      :background-color #DDD
    td
    .full_name
      :white-space nowrap
    .applied_on
      :text-align right
      :white-space nowrap
    .contract
      .title
        :font-weight bold
      .separator
        :color #666
    .summary
      :color #666
    .status_name
      :white-space nowrap
      :border-bottom 0px
      :text-align right
      :display block
      :margin 3px 0px 4px
    .status
      :padding 2px 5px 5px
      :text-align right
    .label
      :margin 0
      :padding 2px 3px 0px
      :font-weight bold
      :font-size 0.9em
      :color #999
    .label.current
      :background-color #E0E0E0
      :border 1px solid #CCC
      :color #000
    .arrow
      :padding 8px 0px 0px 20px
      :background-repeat no-repeat
      :background-position 10px 6px
      :background url(/images/bullet_arrow.png) no-repeat 5px 11px
  
  p.manage_stages
    :float right
    a, a:visited, a:hover
      :color #999
      :font-size 0.9em
      :font-weight normal
  
  ul.stages
    :clear both
    :float left
    :margin 0
    :padding 0
    :list-style none
    :padding-bottom 4px
    :border-bottom 1px solid #CCC
    :margin-top 10px
    :width 100%
    li
      :float left
      :text-transform uppercase
      :font-weight bold
      :margin 7px 0px 5px 0px
      :white-space nowrap
      :text-align left
      :padding 0px 5px 0px 0px

      a, a:visited, a:hover
        :border 1px solid #CCC
        :color #000
        :text-decoration none
        :padding 10px 15px 9px
        :background-color #EFEFEF
        :font-size 0.7em
        &:hover
          :color #000
          :text-decoration none
          :background-color #AAA
    li.current
      a, a:visited, a:hover
        :border-bottom 1px solid #FFFFEF
        :background-color #FFFFEF
    li.all
      :margin-right 10px
      a, a:visited, a:hover
        :color #999
        &:hover
          :color #666
      
      
#search-applications
  input[type=text]
    :width 500px