#fancybox-outer
  :margin 10px
  
  #fancybox-inner
  
  h3
    :margin 0
    :padding 20px 0px 10px
    :font-size 1.0em
  
  .lightbox-content
    :margin 20px 20px 5px 20px
    input[type=text], textarea
      :width 600px
      :margin-bottom 20px
    textarea
      :min-height 120px
      
  #upload-photo-form, #upload-logo-form
    .form
      :padding 10px
      a
        :font-size 0.7em

  #top-navigation
    :padding-bottom 12px
    :border-bottom 1px dotted #CCC
    ol
      :clear both
      :margin 0
      :padding 0
      :list-style none
      :width 100%
    li
      :float left
      :white-space nowrap
      :text-align center
      :color #000
      :text-align left
      :width 200px
      :display block
      :font-weight bold
      :font-size 0.9em
    a, a:hover
      :text-decoration none
      :color #333
      :display block
      :padding 8px 0px 0px 30px
      :margin-right 20px
      :background-repeat no-repeat
      :background-position 10px 6px
      :background url(/images/bullet_arrow.png) no-repeat 10px 11px
      &:hover
        :text-decoration underline









.blockPage
  :-moz-box-shadow #333 0px 0px 1.0em
  :-webkit-box-shadow #333 0px 0px 1.0em
  :-moz-border-radius 0.2em
  :-webkit-border-radius 0.2em
  h3
    :color #000
    :margin 0
    :padding 30px 20px 20px
    :font-weight bold
    :font-size 2.0em
  #new-position-form, #edit-position-form, #new-diploma-form, #edit-diploma-form, .lightbox-form, .lightbox
    :margin 30px
    input[type=text], textarea
      :width 500px
    textarea
      :min-height 100px
  #upload-photo-form, #upload-logo-form
    .form
      :padding 10px
      a
        :font-size 0.7em

  #top-navigation
    :background-color #EFEFEF
    ol
      :clear both
      :margin 0
      :padding 0
      :list-style none
      :width 100%
    li
      :float left
      :white-space nowrap
      :text-align center
      :border-right 1px solid #CCC
      :color #000
      :text-align left
      :width 200px
      :display block
      :background-color #DDD
      :font-weight bold
      :font-size 0.9em
    a, a:hover
      :padding 8px 20px
      :text-transform uppercase
      :text-decoration none
      :color #333
      :display block
      &:hover
        :background-color #CCC
