#navigation
  :padding-top 8px
  :float right

  a, a:visited, a:hover
    :border 0px
    :padding 5px 10px
    :text-decoration none
    :color #CCC
    &:hover
      :color #FFF

  ul
    :clear both
    :float left
    :margin 0
    :margin-right 0px
    :margin-left 10px
    :list-style none

    li
      :float left
      :text-transform uppercase
      :font-size 0.65em
      :font-weight bold
      :margin 7px 0px 5px 10px
      :white-space nowrap
      :text-align left
      :padding 0px 5px 0px 0px

#sub-navigation
  :margin-bottom 20px
  ul
    :clear both
    :float left
    :padding 0
    :margin -10px 0px 0px 0px
    :list-style none

    li
      :float left
      :text-transform uppercase
      :font-size 0.65em
      :font-weight bold
      :margin 0
      :margin-left 2px
      :white-space nowrap
      :text-align center
      :padding 7px 15px 5px 15px
      :background-color #E0E0E0
      :-moz-border-radius 0em 0em 0.5em 0.5em
      :-webkit-border-bottom-right-radius 0.5em
      :-webkit-border-bottom-left-radius 0.5em
    
      a, a:hover, a:visited
        :color #222
        :text-decoration none
    
    li.selected
      :background-color #A00
      :color #FFF
      a, a:hover, a:visited
        :color #FFF
        :text-decoration none

#navigation-side
  ul#sidenav
    :font-size 0.9em
    :display block
    :list-style-type none
    :margin 30px 0 0 -120px
    :overflow hidden
    :padding 0
    :width 120px
    :position absolute
  
    li.newsfeed, li.profile, li.organizations, li.notes, li.offices, li.jobs
      :margin-bottom 4px
      :margin-left 95px
      :-moz-border-radius 1.2em 0 0 1.2em
      :-webkit-border-top-left-radius 1.2em
      :-webkit-border-bottom-left-radius 1.2em
      :background-color #CCC
    
      a, a:hover, a:visited
        :font-weight bold
        :text-decoration none
        :display block
        :padding 6px 15px 5px 25px
        :width 90px
        :color #FFF

    li.separator
      :padding 10px 0px

    li.selected
      :background-color #333
    
    li.newsfeed, li.profile, li.organizations, li.notes, li.offices, li.jobs
      :background-repeat no-repeat
      :background-position 9px 7px

    li.newsfeed
      :background-image url(/images/icons/newsfeed.png)
    
    li.profile
      :background-image url(/images/icons/organizations.png)

    li.organizations, li.offices
      :background-image url(/images/icons/profile.png)

    li.jobs
      :background-image url(/images/icons/profile.png)

    li.notes
      :background-image url(/images/icons/newsfeed.png)

#actions-right, #user-actions-right, #public-actions-right
  :padding 0px 20px 20px 0px
  :margin 18px 0px 20px 0px
  :width 260px
  ul
    :list-style none
    :padding 0
    :margin 0
    a, a:hover, a:visited
      :display block
      :background-repeat no-repeat
      :background-position 10px 6px
      :padding 10px 10px 10px 35px
      :border-bottom 1px dotted #AAA
      :color #333
      :text-decoration none
      :font-size 0.9em
    
      &:hover
        :background-color #DDD
    
    li.first
      a, a:hover, a:visited
        :border-top 1px dotted #AAA
    li.stats
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/chart.png)
    li.edit
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/edit_page.png)

    li.tweet
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/email.png)
                
    li.email
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/mail.png)
      
    li.invite
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/send_mail.png)
        
    li.new-opening
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/add.png)
        
    li.apply
      a, a:hover, a:visited
        :background-image url(/images/icons/16x16/accept.png)
        
    li.follow
      :border-top 1px dotted #AAA
      a, a:hover, a:visited
        :text-align center
        :padding 10px 10px 10px 10px
     
    li.is_following, li.processing
      :border-top 1px dotted #AAA
      :background-repeat no-repeat
      :background-position 10px 6px
      :padding 10px 10px 10px 10px
      :border-bottom 1px dotted #AAA
      :color #333
      :text-decoration none
      :font-size 0.9em
      :text-align center
      :font-weight bold
