#content-header-container.organization-profile
  :background #FFF
  :border-bottom 1px solid #DDD


#organizations
  :margin-top 20px
  :margin-left 10px

  .organization
    :padding-bottom 10px
    :margin-bottom 10px
  .industry
    :color #666
    :font-size 0.9em

#organization
  #summary
    :padding 30px 20px 20px 10px
    .title, .organization, .industry
      :font-weight bold
    .industry
      :font-size 0.9em
    .me
      :margin-top 10px
      :clear both
      :background-color #EFEFEF
      :border 1px solid #DDD
      :display inline
      :padding 3px 5px
      :font-size 0.8em

  
.open-positions
  :margin-top 20px
  .opening
    :padding-bottom 10px
    :margin-bottom 10px
    :border-bottom 1px dotted #CCC
    .title
      :font-size 1.0em
      :font-weight bold
    .type, .rate, .applications, .posted_by
      :color #666
      :font-size 0.9em
    .description
      :font-size 0.9em

  .actions
    :float right
    :font-size 0.7em
    :color #999
    a
      :color #AAA
      :font-weight normal
  
#open-positions .contract
  :margin-top 3px
  :padding 5px
  :font-size 0.7em
  :background-color #EFEFEF
  :border 1px solid #DDD


#current-employees
  h4
    :margin-bottom 10px
  .employee
    :margin-bottom 5px
    .name, .title
      :font-weight bold

table.organizations, table.industries
  :margin-top 10px
  :border-collapse collapse
  :width 100%
  :border-top 1px solid #CCC
  :border-left 1px solid #CCC
  
  tr
    th
      :background-color #DDD
    th, td
      :border-right 1px solid #CCC
      :border-bottom 1px solid #CCC
      :padding 3px 5px
    td.id
      :text-align right
    td.name
      :width 90%
    td.industry
      :white-space nowrap