#content-header-container.user-profile
  :background #FFFFFF
  :border-bottom 1px solid #DDD
  
#user-profile-header
  #photo-and-summary
    :float left
    :margin-bottom 20px
    :display block
    :width 100%
    
    #summary
      :float left
      :padding 5px 20px
      .name
        :font-weight bold
        :padding-bottom 5px
      .summary-positions
        :padding-left 1px
        :font-size 0.9em
        .title, .organization
          :font-weight bold
        .dates
          :font-size 0.8em
      .town
        :padding-left 1px
        :padding-top 8px
        :font-size 0.9em
        :color #999
      a
      
    #photo-section
      :float right
      :margin-right 10px
      #photo
        :padding 2px
        :border 2px solid #EFEFEF
      
        
  #metrics
    :margin 0
    :padding 10px 15px 6px
    :clear both
    :color #444
    
    span.follow.button
      :float left
      :margin-top 10px
      a, a:visited, a:hover
        :font-size 0.9em
        :background-color #DDD
        :border 1px solid #CCC
        :padding 5px 8px
        :-moz-border-radius 0.2em
        :-webkit-border-radius 0.2em
        :cursor pointer
        :color #292929
        :text-decoration none
        :margin 0
        
        :margin-top 2px
        :padding-top 7px
        
        :background-image url(/images/icons/16x16/add.png)
        :background-repeat no-repeat
        :background-position 10px 4px
        :padding-left 35px

        &:hover
          :background-color #CCC
          :border 1px solid #BBB

    span.is_following, span.processing
      :float left
      :margin-top 2px
      :padding-top 7px
      :font-size 0.9em
      :color #666
      
    span.is_following
      :padding 7px 8px 5px
      
      :background-image url(/images/icons/16x16/accept.png)
      :background-repeat no-repeat
      :background-position 10px 4px
      
      :padding-left 35px
      
      :background-color #DDD
      :border 1px solid #CCC
      :-moz-border-radius 0.2em
      
      :color #292929
      :font-weight bold
      
    
    span.separator
      :float right
      :margin 11px 0px 0px 30px

    span.views, span.following, span.followers
      :float right
      :margin 5px 0px 5px 20px
      span
        :margin-left 5px
    span.views
      span.profile_views
        :font-size 1.5em
    span.following
      span.number_of_people_user_is_following
        :font-size 1.5em
    span.followers
      span.number_of_followers
        :font-size 1.5em
    span.sparkline
      :float right
      :padding-top 5px


#summary-description
  p.summary
    :margin-top 20px
    :margin-left 10px
    :padding 10px
    :font-size 1.1em
    :font-family Georgia, serif
    :font-style italic
    :background-color #EFEFEF
    :line-height 1.4em
    .note
      :color #666
      :font-size 0.7em

#section-title
  :background-color #333
  :padding 5px
  h2
    :color #FFF

#experience-and-education
//  :padding 10px 20px 50px
  #experience, #education, #applications, #interests, #my-organizations

    :margin-top 20px
    :margin-left 10px

    .industry
      :font-size 0.9em
      :color #999
  
    .contract, .diploma, .organization, .interest
      :padding 12px 0px 20px
      :margin-bottom 10px
      :border-bottom 1px dotted #CCC
  
      .title
        :margin-bottom 3px
        .position, .degree, .major, .interest_title
          :font-size 1.3em
          :font-weight bold
        .organization_name
          :font-size 1.1em
        .position, .degree, .major
      .dates
        :font-size 0.9em
        :color #999
      .town
        :font-size 0.8em
        :color #999
      .description
        :margin 15px 30px 20px 0px
        :font-size 0.9em
        :line-height 1.5em
      .description-note
        :font-size 0.8em
        :margin 15px 0px 20px 0px
        :font-style italic 
                
      .actions
        :clear both
        :float right
        :font-size 0.7em
        :color #999
        a
          :background-color #EFEFEF
          :border 1px solid #DDD
          :-moz-border-radius 0.2em
          :-webkit-border-radius 0.2em
          :padding 3px 5px 2px
          :color #777
          :font-weight normal
          :text-decoration none
          :margin-left 5px
          &:hover
            :background-color #DDD
            :border 1px solid #CCC


#my-openings
  :margin-top 50px
  :min-height 50px
  .organization
    :font-size 1.3em
    :font-weight bold
    :padding 10px 0px
    :border-top 1px solid #DDD
  table
    :border-collapse collapse
    :border-top 1px solid #DDD
    :border-left 1px solid #DDD
    :width 100%
    :font-size 0.9em
    th
      :border-bottom 1px solid #DDD
      :border-right 1px solid #DDD
      :padding 10px 0px 8px 0px
      :background-color #222
      :color #FFF
      :padding 10px
    td
      :border-bottom 1px solid #DDD
      :border-right 1px solid #DDD
      :padding 5px
      :white-space nowrap
    td.position
      :width 70%
    td.created_at
      :text-align right
    td.applications
      :text-align right



.sidebox
  .person-detail, .organization-detail
    :min-height 30px
    :margin 5px 0px
    :padding 5px
    :clear both
    :border-bottom 1px dotted #BBB
    :font-size 0.8em
    .photo
      :float left
      :margin-right 10px
    .name
      :margin-bottom 2px
    .position, .industry
      :font-size 0.85em
      :color #333
    .town
      :color #666

.request
  :margin 10px 0px
  .pending
    :padding 5px
    :background-color #FFFFEF
    :color #666
    :text-align center
  .pending-and-accept, .already-following-person
    :padding 5px
    :color #666
    :text-align center
    :border 1px solid #33AA33
    :background-color #EFFFEF
  .actions
    a
      :padding 5px
      :background-color #FFFFCC
      :border 1px solid #DDDDAA
      :display block
      :text-align center
      &:hover
        :background-color #DDDDAA

p.connection

p.posting
  :background url(/images/icons/16x16/full_page.png) no-repeat
  .number-of-applicants
    :font-style italic 
    :color #AAA
    :font-size 0.9em










#tabs
  :margin 0
  :padding 0
  #tabs-el
    :position relative
    :bottom -1px
    :width 100%
    :padding-left 8px
  a, a:hover
    :text-decoration none
    :color #FFF
  ul
    :clear both
    :margin 0
    :padding 0
    :list-style none
    :width 98%
  li
    :float left
    :margin 0
    :white-space nowrap
    :text-align center
    :font-weight bold
    :border-top 1px solid #DDD
    :border-right 1px solid #DDD
    :background-color #242F33
    :color #FFF
    :font-size 0.8em
    :z-index 2
    :text-align left
    :width 160px
    .title
      :text-transform uppercase
    .tagline
      :color #778
      :display block
    .anchor_area
      :padding 5px 10px 4px 10px
  li.selected
    :background-color #EFEFEF
    :color #242F33
    :padding 5px 10px 4px 10px
    :border-top 1px solid #DDD
    :border-right 1px solid #DDD
  li.first
    :border-left 1px solid #DDD


#import-linkedin
  :background-color #EFEFEF
  :padding 50px 20px 20px 10px
  
#import-linkedin-form
  :margin-top 20px
  :padding-bottom 20px

  input[type=text]
    :width 500px

#import-linkedin-profile  
  :margin 0
  :padding 0
  :clear both
  
.add-to-profile
  a
    :background #EFEFEF url(/images/icons/24x24/accept.png) 120px 15px no-repeat
    :padding 20px 120px 20px 152px
    :border-top 1px solid #DDD
    :border-left 1px solid #DDD
    :border-bottom 1px solid #BBB
    :border-right 1px solid #BBB
    :display block-inline
