#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "/users/show/my/profile_summary.haml"
          
#content-main-container
  #content-main-wrapper
    = render :partial => "/users/navigation.haml", :locals => {:user => @user}
  
    #content-main
      #my-organizations
        - @user.organizations_active.each do |organization|
          = render :partial => '/organizations/show/open_positions.haml', :locals => { :organization => organization}

  = render :partial => "/users/show/my/sidebar", :locals => {:user => @user}
