#content-header-container.user-profile
  %style
    =get_content_header_style_for_user_profile(@user)
  #content-header
    #user-profile-header
      =render :partial => "/users/show/my/profile_summary.haml", :locals => {:user => @user}

#content-main-container

  #content-main-wrapper
    #content-main-wide
      =link_to "on", "#{person_path(current_user)}/enable_recruit_mode", :method => "POST"
      =link_to "off", "#{person_path(current_user)}/disable_recruit_mode", :method => "POST"