.open-position
  - open_position.openings.each do |opening|
    .opening
      %p.title=opening.position.title
      %p.location="#{opening.city.city_and_country_name}"
      .actions
        =link_to "more...", organization_opening_path(opening.position.organization, opening)
      %br