#content-header-container
  #content-header
#content-main-container
  #content-main-wrapper
    %div{:style => "float:left; margin: 20px 20px 20px 20px;"}
      %h2
    / #login-form{:style => "float:right; width: 350px; margin: 0px 20px 20px 20px"}
    /   %h4 Log in
    /   - form_tag "/sessions", :method => 'post' do
    /     %table
    /       %tbody
    /         %tr
    /           %td.label Email address:
    /           %td= text_field_tag :primary_email
    /         %tr
    /           %td.label Password:
    /           %td= password_field_tag :password
    /         %tr
    /           %td
    /           %td= submit_tag "Login"
    /   #facebook-connect{:style => "float:right;border-top: 1px solid #DDD; padding: 10px; margin-right: 5px"}
    /     %span.left{:style => "margin-top: 4px; font-weight: bold"} or you can 
    /     %span.left
    /       %fb:login-button{:v => "2", :length => "long", :onlogin => "fb_login();"}
    / %br
    / %br
    / %br
    #signup-form{:style => "float:right; width: 350px; margin: 0px 20px 20px 20px;border-top: 1px solid #DDD; padding: 10px"}
      %h4 Sign up
      %p.tagline It's free and anyone can join
    
      - form_tag "/signup" do
        %table
          %tbody
            %tr
              %td.label First name:
              %td= text_field_tag "simple_user[first_name]", "", {:field_name => "First name", :autocomplete => "off", :hint => ""}
            %tr
              %td.label Last name:
              %td= text_field_tag "simple_user[last_name]", "", {:field_name => "Last name", :autocomplete => "off", :hint => ""}
            %tr
              %td.label Email:
              %td= text_field_tag "simple_user[primary_email]", "", {:field_name => "Email address", :autocomplete => "off", :hint => "A valid email address"}
            %tr
              %td.label Password:
              %td= password_field_tag "simple_user[password]", "", {:field_name => "Password", :autocomplete => "off"}
            %tr
              %td
              %td=submit_tag "Sign up"
      #form-processing.hide
        %p Processing...
      #form-error.hide
    %br

  
:javascript
  jQuery("#signup-form form").ajaxify_form();
