#content-main-container
  #content-main-wrapper
    #content-main-wide
      #welcome
        %p.name talentjunkie
        %p.tagline Join The Revolution
        %p.description.hide
          
          Do I dare live my own life, and not the life of others?
          It is my life, no one else's.
          Do I have the courage to see it through?
          
          Do I dare own my future
          I need to be all I can be
          I want to achieve and believe, in me.

          I want to make a difference.
          I know I can make a difference.
          I can be fearless.
          
          And I want to be side by side with those who believe in what I believe in,
          Those who feel and live and breathe
          The way that I feel and live and breathe.
          
          Because together, we are unstoppable.
          Together we push boundaries, we take a stand. 
          We change the world, we don't look back - or disband.
          
          And when the time comes to measure my life,
          I will measure it, not in words or yards or promises
          But in the certainty that we made a difference
      = render :partial => "/public_pages/signup"