#content-main-container
  #content-main-wrapper
    #content-main-wide.compressed
      #welcome
        %p.name talentjunkie
        %p.tagline Join The Revolution
        %p.description A new kind of social network, connecting talent and opportunity
      = render :partial => "/public_pages/signup"
      = render :partial => "/public_pages/members"