#content-main-container
  #content-main-wrapper
    #content-main-wide
      #welcome
        %p.name talentjunkie
        %p.tagline Join The Revolution
        %p.description A new kind of social network, where talent meets opportunity
      = render :partial => "/public_pages/signup" 