#content-main-container
  #content-main-wrapper
    #content-main-wide
      #welcome
        %p.name talentjunkie
        %p.tagline Join The Revolution
        %p.description.hide
        %p.hide TalentJunkie is a new kind of social network that is helping talent and organizations find each other.