#education
  - if user.diplomas.present? or current_user == user
    %h4 Education
    = render :partial => "/users/show/user/diploma.haml", :collection => user.diplomas
      
  - if current_user == user
    %p.button.add=link_to_remote "Add a new diploma or certification", :url => new_user_diploma_path(user), :method => :get
