#summary-description
  - if user.detail.summary
    %p.summary=user.detail.summary
  - elsif user == current_user
    %p.summary.note add a summary to your profile by editing your profile

#experience
  - if user.contracts.present? or current_user == user
    %h4 Experience
    = render :partial => "/users/show/user/contract", :collection => user.contracts

  - if current_user == user
    %p.button.add=link_to_remote "Add a new position", :url => new_user_contract_path(user), :method => :get
