.forgot_password_form
  %h1 Forgot your password?
  #form-error.hide
  - form_tag "/reset_password", :id => "forgot-password", :method => 'put' do
    %label Email address
    = text_field_tag "simple_user[primary_email]", "", {:field_name => "Email address", :autocomplete => "off", :hint => ""}
    %br
    = submit_tag "Email me a new password"


:javascript
  jQuery("#forgot-password").ajaxify_form(false);