#interests
  - if user.interests.present? or current_user == user
    %h4 Interests and activities
    = render :partial => "/users/show/user/interest.haml", :collection => user.interests
  - if current_user == user
    %p.button.add=link_to_remote "Add a new interest or activity", :url => new_user_interest_path(user), :method => :get
