#interests
  %h4 Interests and activities
  .detail
    - user.interests.each do |interest|
      .interest
        %p.title
          %span.interest_title=interest.title
        - if interest.description.present?
          %span.description.redcloth=to_redcloth(interest.description)
        - elsif current_user == user
          %span.description= link_to_remote "add a description to this interest or activity", :url => edit_user_interest_path(user, interest), :method => "GET"
        - if current_user == user
          %p.actions
            =link_to_remote "edit", {:url => edit_user_interest_path(user, interest), :method => "GET"}
            =link_to "delete", user_interest_path(user, interest), {:confirm => "Are you sure you want to delete this entry?", :method => "DELETE"}
  - if current_user == user
    %br
    %p.button.add=link_to_remote "Add a new interest or activity", :url => new_user_interest_path(user), :method => :get
  %br