#navigation-side
  %ul#sidenav
    %li.newsfeed
      %a{:href => "#{person_path(user)}/newsfeed"}
        %span Newsfeed
    %li.profile
      %a{:href => "#{person_path(user)}"}
        %span Profile
    %li.organizations.selected
      %a{:href => "#{person_path(user)}/organizations"}
        %span Orgs