#pending-connection-requests.sidebox
  %h5="Pending connection requests"
  - @user.connections_pending.each do |connection|
    - other_user = connection.other_user(@user)
    .request
      - if connection.acceptor_id == @user.id
        .pending-and-accept
          =link_over_ajax "Accept", "/people/#{@user.id}/accept_connection?connection_id=#{connection.id}"
          ="request to connect to"
          =link_to other_user.full_name, person_path(other_user)
        #form-processing.hide
          %p Processing...
        #form-error.hide
          %p An error has occurred. Please try again later.
        #form-success.hide
          %p Thank you
      - else
        .pending
          ="Request to connect has been sent to #{link_to connection.acceptor.full_name, person_path(connection.acceptor)}"

:javascript
  function handle_request(anchor)
  {
    var anchor = jQuery(anchor);
    var url = anchor.attr('href');

    jQuery.ajax(
    {
      url: url,
      type: "POST",
      dataType: "json",
      beforeSend: function()
      {
        jQuery("#form-error").hide();
        jQuery(".request").hide();
        jQuery("#form-processing").show();
      },
      complete: function()
      {
      },
      error: function(XMLHttpRequest, textStatus, errorThrown)
      {
        jQuery("#form-processing").hide();
        var error = jQuery.evalJSON(XMLHttpRequest.responseText);

        var messages = "";

        jQuery.each(error, function()
        {
          field         = jQuery("#user_" + jQuery(this)[0]);
          error_message = jQuery(this)[1];
          label         = field.attr("field_name");

          field.addClass("error");
          messages += label + " " + error_message + "<br />";
        })

        if(messages)
          jQuery("#form-error").html(messages);
        jQuery("#form-error").fadeIn("slow");

      },
      success: function(json, textStatus)
      {
        window.location.replace("/profile");
      }
    });    
    return false;
  }