#upload-photo-form
  %h3 Upload a new profile photo
  .form
    - form_for(:user_photo, :url => "/users/#{@user.id}/photos", :html => { :multipart => true}) do |f|
      %input{:type=>"hidden", :name=>"_method", :value=> :post}
      = f.file_field :uploaded_data
      %br
      = submit_tag "Upload"
      %a.unblock{:onclick => "jQuery.unblockUI();"} cancel
    - if @user.is_a?(FbUser) and @user.has_photo?
      #separator{:style => "border-bottom: 1px solid #DDD"}
      %span.left{:style => "margin-top: 8px; font-size: 0.8em"} or delete the current photo and
      %span.left=button_to 'use Facebook photo', user_photo_path(@user.id, @user.photo.id), :method => :delete