.guide.please_login
  %a.close{:onclick => "jQuery.unblockUI();"} close
  %h1 Get started
  %ul
    %li
      %span.step_number step 1
      %span.step 
        %span.title Create your profile
        %br
        %span.description Before applying you need to create a profile
    %li
      %span.step_number step 2
      %span.step
        %span.title Apply
        %br
        %span.description Once you have created your profile, apply for this position
  %br
  %br
  %a.go{:href => "/"} Go
