#content-main-container
  #content-main
    %h2 Latest activity

    %h2 Organizations
    - Organization.all.each do |organization|
      %p=link_to(organization.name, organization_path(organization))

    %h2 My Organizations
    - current_user.organizations.each do |organization|
      %p.organization=link_to(organization.name, organization_path(organization))

    %h2 Latest open positions
    - Position.with_openings(:limit => 3).each do |position|
      %p.position
        %span=link_to(position.organization.name, organization_path(position.organization))
        %span.dividor="-"
        %span
          =link_to(position.title, organization_position_path(position.organization, position))
          - if position.openings.count > 0
            %span="(#{position.openings.count} opening#{'s' if position.openings.count != 1})"

#sidebar
  =render :partial => "/common/side/my_organizations.haml", :locals => { :user => current_user}