#content-header-main
  #photo-and-summary
    #logo-section
      #logo=image_tag organization.get_logo_url, :height => "80"
  
    #summary
      #organization-detail
        %h1.name=link_to organization.name, organization_path(organization)
        %p.industry=organization.industry.name if organization.industry
  
  #metrics
    %span.followers
      %span.legend followers
      %span.number_of_followers=organization.followed_by_people.size
    %span.separator
    %span.views
      %span.legend views
      %span.profile_views=organization.unique_profile_views
    %br
