.lightbox-content
  %h3 Invite friends and colleagues

  #new-invitation-form.lightbox-form
    - form_tag user_invitations_path(current_user) do
      %label User email addresses (separate with commas)
      = text_area_tag "email_addresses", nil, {:autocomplete => "off", :hint => "Comma-separated email addresses"}
      %br
      %p= submit_tag "Send"

:javascript
  jQuery(document).ready(function()
  {
    jQuery("#new-invitation-form form").ajaxify_form();
  })
  


