- value ||= nil
#organization.form-section
  %label Organization name
  = text_field_tag "contract[position_attributes[organization_attributes[name]]]", value , {:id => "contract_position_organization_name", :autocomplete => "off", :field_name => "Organization name"}
  .in-place-results
    .holder