- value ||= nil
#position.form-section
  %label Position title
  = text_field_tag "contract[position_attributes[title]]", value, {:id => "position_title", :autocomplete => "off", :field_name => "Position title"}
