#actions
  %h5 Actions
  %ul.actions
    %li=link_to_remote("Edit this profile", :url => edit_organization_path(organization), :method => "GET") if current_user.belongs_to?(organization)
    %li
  %br