#actions-right
  %ul
    %li.new-opening.first=link_to "Post a new job opening", new_organization_opening_path(organization) if current_user.belongs_to?(organization)
    %li.edit=link_to_remote("Edit this profile", :url => edit_organization_path(organization), :method => "GET") if current_user.belongs_to?(organization)