#followed_by.sidebox
  %h5 Followed by
  %h6="#{organization.followed_by_people.size} #{organization.followed_by_people.size == 1 ? 'person' : 'people'}"
  = render :partial => '/users/sideboxes/user_thumbnail.haml', :collection => organization.followed_by_people
  %br