#general-info.sidebox
  %h5 General Information
  %table
    %tbody  
      %tr
        %th Industry
        %td=organization.industry.name if organization.industry
      %tr
        %th Website
        %td=link_to organization.website, organization.website if organization.website.present?
      %tr
        %th Blog
        %td=link_to organization.blog, organization.blog if organization.blog.present?
      %tr
        %th Twitter
        %td=link_to("@#{organization.twitter_handle}", "http://twitter.com/#{organization.twitter_handle}", :target => "_blank") if organization.twitter_handle.present?
