#general-info.sidebox
  %h5 General Information
  %table
    %tbody  
      - if organization.industry
        %tr
          %th Industry
          %td=organization.industry.name
      - if organization.website.present?
        %tr
          %th Website
          %td=link_to(organization.website, organization.website, :target => "_blank")
      - if organization.blog.present?
        %tr
          %th Blog
          %td=link_to(organization.blog, organization.blog, :target => "_blank")
      - if organization.twitter_handle.present?
        %tr
          %th Twitter
          %td=link_to("@#{organization.twitter_handle}", "http://twitter.com/#{organization.twitter_handle}", :target => "_blank")
      - if organization.year_founded.present?
        %tr
          %th Founded
          %td="#{Date::MONTHNAMES[organization.month_founded] if organization.month_founded} #{organization.year_founded}"
