#actions-right.sidebox
  %ul
    - if current_user.present? and current_user.is_following_organization?(organization)
      %li.is_following
        %span="You are following #{organization.name}"
    - else
      .following-status
        %li.follow.first=link_over_ajax "Follow #{organization.name}", follow_organization_path(organization), "handle_follow_request"
        %li.processing.hide
          %span Processing...
        %li#form-error.left.hide
          %span=ajax_error_message
        %li.is_following.hide
          %span="You are following #{organization.name}"

:javascript
  function handle_follow_request(anchor)
  {
    var anchor = jQuery(anchor);
    var url = anchor.attr('href');

    jQuery.ajax(
    {
      url: url,
      type: "POST",
      dataType: "json",
      beforeSend: function()
      {
        jQuery("#form-error").hide();
        jQuery("li.follow").hide();
        jQuery("li.processing").show();
        },
      complete: function()
      {
        jQuery("li.processing").hide();
      },
      error: function(XMLHttpRequest, textStatus, errorThrown)
      {
        var error = jQuery.evalJSON(XMLHttpRequest.responseText);

        var messages = "";

        jQuery.each(error, function()
        {
          field         = jQuery("#user_" + jQuery(this)[0]);
          error_message = jQuery(this)[1];
          label         = field.attr("field_name");

          field.addClass("error");
          messages += label + " " + error_message + "<br />";
        })

        if(messages)
          jQuery("#form-error").html(messages);
        jQuery("#form-error").fadeIn("slow");

      },
      success: function(json, textStatus)
      {
        jQuery("li.processing").hide(10, function(){jQuery("li.is_following").show()});
      }
    });    
    return false;
  }