#sidebar
  = render :partial => "/users/sideboxes/following_people", :locals => {:user => @user} if @user.following_people.size > 0
  = render :partial => "/users/sideboxes/following_organizations", :locals => {:user => @user} if @user.following_organizations.size > 0