#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "/users/show/public/profile_summary.haml", :locals => {:user => @user}

#content-main-container
  #content-main-wrapper
    #content-main
      #experience-and-education
        = render :partial => "/users/experience.haml", :locals => {:user => @user}
        = render :partial => "/users/education.haml", :locals => {:user => @user}
        = render :partial => "/users/interests.haml", :locals => {:user => @user}
  
  = render :partial => "/users/show/public/sidebar", :locals => {:user => @user}