#content-header-container.user-profile
  #content-header
    %br
    %h1="Organizations starting with '#{@starting_with}'"
    %br
    
#content-main-container
  #content-main-wrapper
    #content-main-wide
      %table.alphabet
        %tbody
          %tr
            - ("a".."z").each do |letter|
              %td=link_to letter, "/admin/organizations/?q=#{letter}"
      %table.organizations
        %tbody
          %tr
            %th Id
            %th Name
            %th Handle
            %th Industry
            %th
          - @organizations.each do |organization|
            %tr
              %td.id=organization.id
              %td.name=link_to organization.name, organization_path(organization), :target => "_blank"
              %td.handle=organization.handle
              %td.industry="#{organization.industry.name} (#{organization.industry.id})" if organization.industry
              %td.actions=link_to_remote "Edit", :url => edit_admin_organization_path(organization.id), :method => :get
      %p.button.add=link_to_remote "Add a new organization", :url => new_admin_organization_path, :method => :get
      %br