#content-header-container
  #content-header
    #user-profile-header

#content-main-container
  #content-main-wrapper
    #content-main-wide.recruit
      #navigation-manage
        %p=link_to "Manage your openings", "/manage/openings"
        %p.selected Manage your job applications
        
        
      