#content-header-main
  #photo-and-summary
    #summary
      #lock
        %a.lock{:href => "#"}
      #summary-detail
        %h2.name=@user.full_name
    
  #metrics
    %span.followers
      %span.legend followers
      %span.number_of_followers=@user.followed_by_people.size
    %span.following
      %span.legend following
      %span.number_of_people_user_is_following=@user.following_people.size
    %br