#content-header-container.user-profile
  #content-header
    #user-profile-header
      =render :partial => "/users/show/private/profile_summary.haml", :locals => {:user => @user}

#content-main-container
  #content-main-wrapper
    #content-main-wide
      %br
      %p.notice This user's profile is private. This can be either because the profile is incomplete or because they chose to not share it with others.
