#profile-summary
  - if organization.summary
    %p.summary=organization.summary
  - elsif current_user.belongs_to?(organization)
    %p.summary.note add a summary to this profile by editing this profile
  - else
    %p.summary
    %br