#content-main-container
  #content-main-wide
    #organization
      #summary
        %h1=@organization.name
        %p.industry=@organization.industry.name if @organization.industry
        %br
        - if current_user.belongs_to?(@organization)
          %p.me
            You work here as
            / %strong=link_to current_user.position_at(@organization).title, user_contract_path(current_user, current_user.position_at(@organization).current.contracts)
            - current_user.contracts_at(@organization).each do |contract|
              %strong=contract.position.title
              =link_to "(edit)", my_profile_path
      #description
        %p.description=@organization.description

    #current-employees
      %h4 Current employees
      - @organization.contracts.current.each do |contract|
        .employee
          %span.name="#{contract.user.full_name}"
          %span.title=" - #{contract.position.title} "
          %span.dates="since #{Date::MONTHNAMES[contract.from_month]} #{contract.from_year}"

    #recent-changes
      %h4 Recent promotions and changes
  
    #new-employees
      %h4 New Hires
  
    #former-employees
      %h4 Former employees

    =render :partial => "/organizations/show/open_positions.haml", :locals => { :organization => @organization }