%h2=@organization.name
%p.industry="Industry: #{@organization.industry.name}"

#summary.sub-section
  %h3 Summary
  =@organization.description

#current-employees.sub-section
  %h3 Current employees
  
#former-employees.sub-section
  %h3 Former employees

=render :partial => "/organizations/show/open_positions.haml"