#content-main-container.admin-section
  #content-main-wrapper
    =render :partial => "/admin/navigation"
    #content-main-wide.admin
      %h1="All users"
      %table.organizations
        %thead
        %tbody
          - @users.each do |user|
            %tr
              %td=user.id
              %td=user.full_name
              %td=link_to 'view profile', person_path(user), :target => "_blank"
