#content-header-container.user-profile
  #content-header
    %br
    %h1 Industries
    %br
    
#content-main-container
  #content-main-wrapper
    #content-main-wide
      %table.industries
        %tbody
          %tr
            %th Id
            %th Name
          - @industries.each do |industry|
            %tr
              %td.id=industry.id
              %td.name=industry.name
