#content-main-container.admin-section
  #content-main-wrapper
    =render :partial => "/admin/navigation"
    #content-main-wide.admin
      %h1 Industries
      %table.industries
        %tbody
          %tr
            %th Id
            %th Name
          - @industries.each do |industry|
            %tr
              %td.id=industry.id
              %td.name=industry.name
