#content-header-container
  #content-header
    = render :partial => "/communities/profile_summary.haml", :locals => {:community => @community}

#content-main-container
  = render :partial => "/communities/navigation.haml", :locals => {:community => @community}
  
  #content-main-wrapper.background
    #content-main
      .main-section-stretched
        %table.public_openings
          %tbody
            = render :partial => "/openings/opening", :collection => @openings
      
  =render :partial => "/communities/sidebar/sidebar.haml"