#content-header-container
  #content-header
    = render :partial => "/communities/profile_summary.haml", :locals => {:community => @community}

#content-main-container
  = render :partial => "/communities/navigation.haml", :locals => {:community => @community}
  
  #content-main-wrapper.background
    #content-main
      .main-section
        = render :partial => "/communities/users.haml", :locals => { :community => @community } #if @organization.contracts.current.to_a.size > 0
        
  =render :partial => "/communities/sidebar/sidebar.haml"