#logo=link_to "talentjunkie", dashboard_path

- if current_user.present?
  #navigation
    %ul
      %li.home=link_to "Dashboard", dashboard_path
      %li.profile=link_to "My Profile", my_profile_path
      %li.settings=link_to "settings", my_settings_path
      %li.logout=link_to "logout", logout_path
      %li.search-box
        #search-query
          %label Search
          = text_field_tag "q", "", :autocomplete => "off"
          .search-results
            .holder

:javascript
  jQuery(".search-close").bind("click", function(e)
  {
    jQuery(this).parent().hide();
  })

  jQuery("#search-query > #q").bind("keyup", function(e)
  {
    var field_name = this.id;
    var q = e.currentTarget.value;

    if(q.length < 1)
    { 
      jQuery(".search-results").hide();
      return true;
    }

    jQuery.getJSON("/search_remote/search", { q: q}, function(results)
    {
      if(results.length > 0)
      {
        jQuery("#search-query > .search-results").show();
        jQuery("#search-query .search-results .holder").empty();
        jQuery.each(results, function(index)
        {
          jQuery("#search-query .search-results .holder").append("<div class='result'><a href='" + this.url + "'><p>" + this.title + "</p><p class='subtitle'>" + this.subtitle + "</p></a></div>")
        })
      }
      else
      {
        jQuery("#search-query .search-results").hide();      
      }
    });
  })

  function update_field(id, text)
  {
    jQuery("#q").val(text);
    jQuery("#organization .search-results").hide();
  }