#content-header-main
  #photo-and-summary
  
    #logo-section
      #logo=image_tag organization.get_logo_url, :height => "80"

    #summary
      #organization-detail
        %h1.name=link_to organization.name, organization_path(organization)
        %p.industry=organization.industry.name if organization.industry
  
%br