#content-header-main
  #photo-and-summary
  
    #logo-section
      #logo=image_tag organization.get_logo_url, :height => "80"

    #summary
      #organization-detail
        %h2.name=organization.name
        %p.industry=organization.industry.name if organization.industry
  
%br