#content-header-container
  #content-header
    #user-profile-header

#content-main-container
  #content-main-wrapper
    #content-main-wide
      #not-found
        %p Ooops!! Sorry, this page does not exists.
        %br
        %p=link_to "Go back to the begining instead", "/"